@keyframes fadeIn{
    from{
      opacity:0
    }to{
      opacity:1
    }
  }

.list{
    display: flex;
    color:#333;
}
.list1{
    height: 200px;
    overflow: auto;
    flex:1;
}
.list2{
    flex:1;
}
.item{
    height: 50px;
    margin: 5px;
    display: flex;
    border-bottom:1px solid #999; 
}
.content{
    margin-left:5px;
    text-align: left; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.content h4, .content p{
    margin: 0;
}

.list-img{
    height: 45px;
    width: 45px;
    border-radius: 3px; 
    margin-top: 2px;
    opacity:0;
    animation-name: fadeIn;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}
